.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.header, .subHeader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  font-weight: 700;
  font-size: 50px;
  animation: initialHeader 3s linear 0s infinite;
}

@keyframes initialHeader {
  from {
    color: #f6454d;
  }
  20% {
    color: #9267ff;
  }
  40% {
    color: #46c6f7;
  }
  60% {
    color: #50ca8d;
  }
  80% {
    color: #ffd452;
  }
  100% {
    color: #ff9352;
  }
}

.subHeader {
  font-size: 25px;
  animation: initialSubheader;
  animation-play-state: initial;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes initialSubheader {
  from {
    margin-right: 100%;
    opacity: 0%;
  }
  to {
    margin-right: 0%;
    opacity: 100%;
  }
}

.button {
  height: 50px;
  width: auto;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  background-color: #50ca8d;
  border-radius: 10px;
  animation: initialButton;
  animation-play-state: initial;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes initialButton {
  from {
    margin-top: 50%;
    opacity: 0%;
  }
  to {
    margin-top: 0%;
    opacity: 100%;
  }
}

.button:hover {
  opacity: 50%;
}

.button:active {
  opacity: 90%;
}
